@page
@model SpeedMeasuremetRazor.Pages.Measurements.IndexModel
@{
    string style;
}
<h1>List of speed measurements</h1>

<p>Number of measurements: @Model.SpeedMeasurementRepo.GetAllSpeedMeasurements().Count</p>
<div style="padding-bottom:30px;"><a  class="Edit-button create-color" asp-page="/Measurements/CreateSpeedMeasurement">
    Create New
</a></div>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Speed
            </th>
            <th>
                Time stamp
            </th>
            <th>
                Address
            </th>
            <th>
                Zone
            </th>
            <th>
                Speed limit
            </th>
            <th>
                Photo
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var speedMeasurement in Model.SpeedMeasurementRepo.GetAllSpeedMeasurements())
        {
            @if (speedMeasurement.Speed > speedMeasurement.Location.SpeedLimit)
            {
                style = "RedError";
            }
            else
            {
                style = "GreenOK";
            }
            <tr class="@style">
                <td>
                        @speedMeasurement.Id
                    </td>
                    <td>
                        @speedMeasurement.Speed
            
                    </td>
                    <td>
                        @speedMeasurement.TimeStamp
                    </td>
                    <td>
                        @speedMeasurement.Location.Address
                    </td>
                    <td>
                        @speedMeasurement.Location.Zone
                    </td>
                    <td>
                        @speedMeasurement.Location.SpeedLimit
                    </td>

                    <td class="Image3x5"><img src="~/Images/@speedMeasurement.Image" /></td>
                    <td>

                        <form method="post">

                            <button asp-route-Id="@speedMeasurement.Id">Delete</button>

                        </form>

                    </td>

            </tr>
        }
    </tbody>
</table>