@page
@model SpeedMeasuremetRazor.Pages.Measurements.IndexModel
@{
    string style;
}
<h1>List of speed measurements</h1>

<p>Number of measurements: @Model.SpeedMeasurementRepo.GetAllSpeedMeasurements().Count</p>
<div style="padding-bottom:30px;">
    <a class="Edit-button create-color" asp-page="/Measurements/CreateSpeedMeasurement">
        Create New
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>All</th>
            <th>Over Speed Limit</th>
            <th>Cut in license</th>
            <th>Conditional revocation</th>
            <th>Unconditional revocation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.SpeedMeasurementRepo.GetAllSpeedMeasurements().Count</td>
            <td>@Model.SpeedMeasurementRepo.NoOfOverSpeedLimit()</td>
            <td>@Model.SpeedMeasurementRepo.NoOfCutInLicense()</td>
            <td>@Model.SpeedMeasurementRepo.NoOfConditionalRevocation()</td>
            <td>@Model.SpeedMeasurementRepo.NoOfUnconditionalRevocation()</td>
        </tr>
    </tbody>
</table>
<form method="post" asp-page-handler="Filter">
    <div class="form-group selectbar-measurement">
        <select name="option" class="form-control">
            <option value="1">All</option>
            <option value="2">Over Speed Limit</option>
            <option value="3">Cut in license</option>
            <option value="4">Conditional revocation</option>
            <option value="5">Unconditional revocation</option>
        </select>
        <button class="Edit-button Styled-button-red" style="position:absolute; align-content:center;">Filter</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Speed
            </th>
            <th>
                Time stamp
            </th>
            <th>
                Address
            </th>
            <th>
                Zone
            </th>
            <th>
                Speed limit
            </th>
            <th>
                Photo
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var speedMeasurement in Model.FilterList)
        {
            @if (speedMeasurement.Speed > speedMeasurement.Location.SpeedLimit)
            {
                style = "RedError";
            }
            else
            {
                style = "GreenOK";
            }
            <tr class="@style">
                <td>
                    @speedMeasurement.Id
                </td>
                <td>
                    @speedMeasurement.Speed

                </td>
                <td>
                    @speedMeasurement.TimeStamp
                </td>
                <td>
                    @speedMeasurement.Location.Address
                </td>
                <td>
                    @speedMeasurement.Location.Zone
                </td>
                <td>
                    @speedMeasurement.Location.SpeedLimit
                </td>

                <td class="Image3x5"><img src="~/Images/@speedMeasurement.Image" /></td>
                <td>

                    <form method="post">

                        <button asp-route-Id="@speedMeasurement.Id">Delete</button>

                    </form>

                </td>

            </tr>
        }
    </tbody>
</table>