@page
@using SpeedMeasuremetRazor.Services
@model SpeedMeasuremetRazor.Pages.Locations.IndexModel
@{
}
<h1>List of Locations</h1>

<p>Number of Locations: @Model.LocationRepo.GetAllLocations().Count</p>
<a asp-page="/Locations/CreateLocation">
    Create New
</a>
<table class="table">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Address
        </th>
        <th>
            Zone
        </th>
        <th>
            Speed Limit
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var location in Model.LocationRepo.GetAllLocations())
    {
        <tr>
            <td>
                @location.Id
            </td>
            <td>
                @location.Address
            </td>
            <td>
                @location.Zone
            </td>
            <td>
                @location.SpeedLimit
            </td>
            <td>
                <a asp-page="/Locations/EditLocation" asp-route-Id="@location.Id">
                    Edit
                </a>
            </td>
        </tr>

    }
    </tbody>
</table>