@page
@using SpeedMeasuremetRazor.Services
@model SpeedMeasuremetRazor.Pages.Locations.IndexModel
@{
}
<h1>List of Locations</h1>

<p>Number of Locations: @Model.LocationRepo.GetAllLocations().Count</p>
<div style="padding-bottom:30px;">
    <a class="Edit-button create-color" asp-page="/Locations/CreateLocation">
        Create New
    </a>
</div>

<form method="post" asp-page-handler="Sort">
    <div class="form-group selectbar-measurement">
        <div style="padding-bottom:10px">
            <input name="option2" class="floatLeft" />
            <button class="Edit-button Styled-button-red" style="position:absolute; align-content:center;" >Sort</button>
        </div>
        <p>Select sorting method</p>
        <select name="option" class="form-control">
            <option value="1">Address</option>
            <option value="2">Zone</option>
            <option value="3">Speed Limit</option>
        </select>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Address
            </th>
            <th>
                Zone
            </th>
            <th>
                Speed Limit
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            string style;
            float cnt = 0;

            foreach (var location in Model.SortableLocationList)
            {
                cnt++;
                if (cnt % 2 != 0)
                {
                    style = "Styled-table-lightblue";
                }
                else
                {
                    style = "Styled-table-darkblue";
                }

                <tr class="@style">
                    <td>
                        @location.Id
                    </td>
                    <td>
                        @location.Address
                    </td>
                    <td>
                        @location.Zone
                    </td>
                    <td>
                        @location.SpeedLimit
                    </td>
                    <td>

                        <a class="Edit-button Styled-button-green" asp-page="/Locations/EditLocation" asp-route-Id="@location.Id">
                            Edit
                        </a>

                        <form method="post">
                            <button class="Edit-button Styled-button-red" asp-route-Id="@location.Id">Delete</button>
                        </form>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>
